/* Font CDN____________________ */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Sans", sans-serif; */

/* Icon Font CDN____________________ */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* font-family: 'Material Symbols Outlined'; */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
/* font-family: fontawesome; */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 
/* font-family: xeicon;  */



/* <SUITE> 
font-family: SUITE_L, sans-serif;
font-family: SUITE_M, sans-serif;
font-family: SUITE_R, sans-serif;
font-family: SUITE_SB, sans-serif;
font-family: SUITE_B, sans-serif;
font-family: SUITE_EB, sans-serif;
font-family: SUITE_H, sans-serif;
*/
@font-face {
  font-family: SUITE_L;
  src: url('../font/SUITE-Light.woff') format('woff');
}
@font-face {
  font-family: SUITE_M;
  src: url('../font/SUITE-Medium.woff') format('woff');
}
@font-face {
  font-family: SUITE_R;
  src: url('../font/SUITE-Regular.woff') format('woff');
}
@font-face {
  font-family: SUITE_SB;
  src: url('../font/SUITE-SemiBold.woff') format('woff');
}
@font-face {
  font-family: SUITE_B;
  src: url('../font/SUITE-Bold.woff') format('woff');
}
@font-face {
  font-family: SUITE_EB;
  src: url('../font/SUITE-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: SUITE_H;
  src: url('../font/SUITE-Heavy.woff') format('woff');
}
/* <HSSanTokki2.0(2024)>
  font-family:HSSanTokki, sans-serif;
*/
@font-face {
  font-family:HSSanTokki;
  src: url(../font/HSSanTokki2.0\(2024\).woff);
}